[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-filter = "*"
markdown = "*"
djangorestframework = "*"
drf-spectacular = "*"
drf-yasg = "*"
llama-index = "*"
ollama = "*"
llama-index-embeddings-huggingface = "*"
torch = "*"
transformers = "*"
llama-index-embeddings-ollama = "*"
llama-index-llms-groq = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
